/* ------- Content --------*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.header {
	@include flex;
	flex-wrap: wrap;
	align-items: flex-end;
  	justify-content: space-between;

  	.logo {
  		width: 95%;

  		img {
			width: 100%;
			height: auto;
		}
  	}

	.citta {
		position: relative;
		width: 100%;
		@include flexCenter;
		justify-content: space-around;
		flex-wrap: nowrap;

		.valnerina,
		.perugia	{
			position: relative;
			width: 120px;
			height: 45px;
			padding: 0 10px 0 10px;
			background: #0b91dd;
			border: 1px solid $border-color;
			@include flexCenter;
		}

		.perugia { background: #09b111; }

		img {
			width: 100%;
			height: auto;
		}
	}
}

@media screen and (min-width: 800px) {
	.header {
		.logo {
		  	width: 50%;
		}
		.citta {
		  	width: 50%;
		}		
	}

}

.content {
	margin-top: 15px;
  	width: 100%;
  	padding-bottom: 25px;

  	h2,h3,h4 {
  		margin-top: 50px;
  		@include fontTitoloG(0.8);
  		max-width: 900px;
  		margin-right: auto; 
  		margin-left: auto;
  	}

  	p {
  		@include fontNormaleG();
  		margin-top: 0.6em;
  		max-width: 900px;
  		margin-right: auto; 
  		margin-left: auto;
  	}

  	strong {
  		font-weight: bolder;
  	}

  	ul {
  		margin-top: 15px;
  		margin-bottom: 15px;
  	}

  	li {
  		width: 55%;
  	}
}

@media screen and (max-width: 800px) {
	.content {
		h2,h3,h4 {
			font-size: $font-titolo-size * 0.6;
		}
		p {
			font-size: $font-base-size * 0.8;
		}
	}

	.contentBase {
		padding-left: 5px;
		padding-right: 5px;
	}

}

/* ------- Slide --------*/

.contentSlide {
	@include flex;
	flex-wrap: wrap;
	align-items: stretch;
  	justify-content: space-between;

	.wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
		margin: 0;
		display: flex;
		flex-grow: 1;
		flex-direction: row;
		justify-content: center;
		position: relative;
	}

}

.slidePerugia {
	li {
		overflow: hidden;
	}

	li figure img {
		max-height: 600px;
	}
}

.slideValnerina {
	margin-bottom: 20px;
	li {
		overflow: hidden;			
	}

	li figure {
		box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
	}

	li figure img {
		max-height: 600px;
		object-fit: scale-down !important;
		-webkit-box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
	}

}

@media screen and (max-width: 800px) {
  .slidePerugia {

  }
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideContainer {
	@include flexCenter;
	width: 100%;
	margin-top: 15px;

	.buttonL { order:1; z-index: 2; }
	ul { order:2; z-index: 1; }
	.buttonR { order:3; z-index: 2; }
}

.buttonL , .buttonR{
	width: 5%;
	@include flexCenter;
	margin: 5px;
}

.seta {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	border: 3px solid #0072bc;
	line-height: 40px;
	text-indent: 7px;
	font-size: 50px;
	color: #0072bc;
	cursor: pointer;
}

.buttonL .seta {
	text-indent: 4px;
}

@media screen and (max-width: 800px) {
  	.seta {
	  	width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 25px;
		text-indent: 3px;
		border: 2px solid #0072bc;
	}

  	.buttonL .seta {
		text-indent: 0;
	}
}

/*------ news ------ */
.news-lista {
	margin-top: 25px;
}

.news-item {
	margin: auto;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	border: 5px solid rgb(255, 51, 0);
	border-radius: 25px;
	background: lighten( $sfondoColore, 5% );
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	h2,h3,h4 {
		@include fontTitoloG(0.9);
		color: #262626;
		margin-top: 0;
	}

	p {
		margin-top: 0.5em;
		@include fontNormaleG();
		color: #262626;
	}

	a {
		text-decoration: underline;
		color: blue;
	}
}

@media screen and (max-width: 800px) {
	.news-item {
		width: 90%;

		h2,h3,h4 {
			font-size: $font-titolo-size * 0.6;
		}
		p {
			padding: 1px;
			font-size: $font-base-size * 0.8;
		}
	}

}

/*------ Contatti ------ */

.contentContatti {
	margin: auto;
	margin-top: 50px;
  	width: 80%;
  	@include flex;
  	flex-direction: row;
  	justify-content: space-between;
  	align-items: center;

  	div:nth-child(1) { margin-left: 10%; margin: auto;}
  	div:nth-child(2) { margin-right: 10%; margin: auto;}
}

@media screen and (max-width: 800px) {
  	.contentContatti {
  		margin-top: 10px;
  		width: 100%;
  		padding-left: 5px;
  		padding-right: 5px;
  		flex-direction: column;

  		div:nth-child(1) { text-align: center; }
  		div:nth-child(2) { margin-top: 25px; }
	}
}