/* ------- Menu --------*/

.menuIndex {
	@include flex;
	align-items: center;

	img {
		width: 100%;
		max-width: 481px;
		min-width: 300px;
		height: 100%;
		max-height: 515px;
		min-height: 300px;
	}
}

.menuIndexS { justify-content: flex-start;}
.menuIndexD { justify-content: flex-end;}


/* ------- Nav --------*/

.menuNav {
	height: 50px;
}

.menuVideo {
	@include flexCenter;
	width: 110px;
	height: 110px;
	color: white;
	font-weight: bolder;
	background: url(../img/bottone.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
	font-size: 1.4em;
}

.menuInterno {
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;

	ul {
		@include flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
	
		li{
			width: 14%;
			height: 100%;
			@include flexCenter;
	    	text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
	    	font-weight: bolder;
		}

		li:nth-child(1n) { background: #ff0000;}
		li:nth-child(2n) { background: #ff5a00;}
		li:nth-child(3n) { background: #fec210;}
		li:nth-child(4n) { background: #00bf04;}
		li:nth-child(5n) { background: #0823f3;}
		li:nth-child(6n) { background: #6608f3;}
		li:nth-child(7n) { background: #a800d2;}

	}

}

